@keyframes brdr{
    from{
      border: none;
    }
  }
@keyframes op{
    from{
        opacity: 0;
    }
}
@keyframes sc {
  50%{
      transform: scale(1.05);
  }
}
@keyframes prog {
    from {
      width: 1px;
    }
    to {
      width: 100%;
    }
  }
@keyframes sc {
    50%{
        transform: scale(1.1);
    }
}
@keyframes dup{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
}
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #efef37;
    border-radius: 55px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: yellow;
  }
* {
    padding: 0;
    margin: 0;
  }
  *::selection {
    background-color: yellow;
    color: black;
  }
  article {
    width: 1px;
    align-self: flex-start;
    height: 4px;
    background-color: yellow;
    transform-origin: right left;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 4;
    border-radius: 5px;
    animation: prog linear forwards;
    animation-timeline: scroll();
  }
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  body {
    background: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bac{
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    top: 0;
    z-index: 0;
    animation: op 1s 0.3s backwards;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
  }
  nav{
    width: 40%;
    height: 90%;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    font-size: 26px;
    border: solid 2px yellow;
    transition: 1s;
  }
  nav:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 8px yellow;
  }
  nav a{
    border-radius: 25px;
    transition: 0.3s;
    padding: 8px 20px ;
  }
  nav a:hover{
    color: black;
    background-color: yellow;
    border: solid 2px black;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding-top: 2vh;
    z-index: 1;
    animation: brdr 1s 1s backwards,op 0.5s 1s backwards;
  }
  hr{
    height: 2px;
    width: 100%;
    border: none;
    background-color: yellow;
  }
  form{
    width: 80%;
    padding: 1%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
}
form section{
  display: flex;
  justify-content: space-evenly;
  height: 5%;
}
.inp{
  width: 100%;
  height: 100%;
  outline: 2px yellow;
  background-color:#ffffff2a;
  border-radius: 5px;
  color: yellow;
  font-size: 26px;
}
form label{
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: yellow;
}
.area{
  height: 10vh;
}
textarea{
  width: 100%;
  height: 100%;
  background-color:#ffffff2a;
  border-bottom: solid 1px yellow ;
  outline: #08a2a2;
  border-radius: 5px;
  color: yellow;
  resize: none;
}
select{
  width: 100%;
  font-size: 22px;
  background-color: #ffffff2a;
  color: yellow;
}
option{
  color: black;
}
textarea::placeholder{
  color: rgba(255, 255, 0, 0.83);
}
.sub{
  height: auto;
}
button{
    position: relative;
    margin-top: 4vh;
    padding: 15px 50px;
    border-radius: 35px;
    font-size: 38px;
    border: solid 1px black;
    backdrop-filter: blur(10px);
    background-color:#ffffff5b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
  }
  button:hover{
    background-color: yellow;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px yellow;
  }
  button::after{
    position: absolute;
    padding: 6px 12px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    content: "";
    transform: scale(1.01);
    border: solid 2px black;
    border-radius: 50px;
    animation: sc 2s linear infinite;
    transition: 1s;
  }
  button:hover::after{
    opacity: 0;
    border: solid 2px yellow;
  }