@keyframes main {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes cursor{
  50%{
      border-left: transparent;
  }
}
@keyframes po{
to{
  opacity: 0;
}
}
@keyframes flow{
  to{
    overflow-y: scroll;
  }
}
@keyframes brdr{
  from{
    border: none;
  }
}
@keyframes supsolei{
  0%{
    filter: drop-shadow(-5px 0px 1px green);
  }
  25%{
    filter: drop-shadow(5px 0px 1px green);
  }
  30%{
    filter: drop-shadow(-5px 0px 1px green);
  }
  35%{
    filter: drop-shadow(5px 0px 1px green);
  }
  50%{
    filter: drop-shadow(1px 0px 0px aqua);
  }
}
@keyframes dup{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}
@keyframes rain {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes op {
  from {
    opacity: 0;
  }
}
@keyframes prog {
  from {
    width: 1px;
  }
  to {
    width: 100%;
  }
}
@keyframes mo{
  to{
    text-shadow: -1px 0px 1px black;
    filter: drop-shadow(-5px 0px 0px aqua)
  }
}
@keyframes but{
  25%{
    box-shadow: 1px 0px 1px black;
    filter: drop-shadow(-5px 5px 0px #02d7d7)
  }
  75%{
    box-shadow: 1px 0px 1px black;
    filter: drop-shadow(-10px 10px 0px #02d7d7)
  }
}
@keyframes moe{
  100%{
    box-shadow: 0 0 20px aqua ,0 0 20px aqua, 0 0 15px aqua;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.818);
  border-radius: 55px;
}
::-webkit-scrollbar-thumb:hover {
  background: aqua;
}
* {
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: aqua;
  color: black;
}
article {
  width: 1px;
  align-self: flex-start;
  height: 4px;
  background-color: aqua;
  transform-origin: right left;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  z-index: 4;
  border-radius: 5px;
  animation: prog linear forwards;
  animation-timeline: scroll();
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
body {
  background: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  animation: flow 0s 2s forwards;
}
.bac{
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  top: 0;
  z-index: 0;
  animation: op 1s 1.8s backwards;
}
main {
  width: 1150px;
  border: solid 1px rgba(0, 0, 0, 0.332);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  z-index: 1;
  animation: brdr 1s 2s backwards;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: op 1s 2s backwards;
  height: 10vh;
  width: 100%;
}
nav{
  width: 60%;
  height: 90%;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  border: solid 2px aqua;
  align-items: center;
  border-radius: 35px;
  font-size: 26px;
  transition: 1s;
}
nav:hover{
  transform: scale(1.02);
  box-shadow:0px 0px 6px aqua;
}
nav a{
  border-radius: 25px;
  transition: 0.3s;
  padding: 8px 20px;
}
nav a:hover{
  color: black;
  background-color: aqua;
  border: solid 2px black;
}
.body {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  animation: op 1s 2.5s backwards;
}
.poster {
  height: 450px;
  width: 290px;
  border-radius: 6px;
  box-shadow: 0 0 4px aqua ,0 0 4px aqua, 0 0 3px aqua,-6px 6px 0px aqua,-8px 8px 0px black;;
  animation: rain 1s 2.5s, moe 1.3s 2s 2 alternate;
}
.buy {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  animation: op 0.5s 2s backwards;
}
h1 {
  color: aqua;
  font-size: 44px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: main 1s 2.5s, mo 1s 2s 2 alternate;
  text-align: center;
  position: relative;
}
.buy button {
  padding: 10px 25px;
  font-size: 42px;
  color: rgb(31, 30, 30);
  background-color: aqua;
  box-shadow: -5px 5px 0px black,-6px 6px 0px aqua;
  border: solid aqua;
  cursor: pointer;
  margin-top: 50px;
  animation: op 1s 3s backwards , but 0.2s 3s 2 alternate;
  transition: 0.3s;
}
button:hover {
  transform: translate(-6px, 6px);
  box-shadow: 0px 0px 0px black;
  background-color: black;
  color: aqua;
}
hr {
  margin: 150px 0px 0px 0px;
  border-color: aqua;
  border-radius: 5px;
  animation: op 1s 3s backwards;
}
section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.sec2 a{
  color: white;
  font: 32px;
  transition: 0.5s;
}
.sec2 a:hover{
  color: aqua;
}
.a,
.b,
.c{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
}
.a {
  animation: op 1s 3.5s backwards;
}
.b {
  animation: op 1s 3.8s backwards;
}
.c {
  animation: op 1s 4.1s backwards;
}

.a p,
.d p {
  color: white;
}
h2 {
  color: aqua;
}
#dup{
  animation: op 1s 2s backwards;
}
.ri {
  position: absolute;
  position: fixed;
  cursor: pointer;
  bottom: 45px;
  right: 5%;
  transition: 0.3s;
}
.button {
  background-color: rgb(113, 248, 248);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 8px #dfd9d9;
  cursor: pointer;
  animation: dup 1s backwards;
  animation-timeline: scroll();
}
.button:hover{
  background-color: aqua;
  box-shadow: 0px 0px;
  color: black;
  transform: translateY(8px);
}

.button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  width: 10%;
  height: 50px;
  color: aqua;
  font-size: 8px;
  text-align: center;
  animation:op 0.5s backwards, po 0.3s 1.9s forwards;
}
aside img{
  width: 100%;
  animation: supsolei 0.5s infinite backwards;
}
pre{
  font-size: 36px;
  transform: translateY(-30px);
  border-left: solid 1px aqua;
  animation: cursor 0.6s 4;
}

