@keyframes brdr {
  from {
    border: none;
  }
}

@keyframes sc {
    50%{
        transform: scale(1.1);
    }
}

@keyframes op {
  from {
    opacity: 0;
  }
}

@keyframes prog {
  from {
    width: 1px;
  }

  to {
    width: 100%;
  }
}

@keyframes sc {
  50% {
    transform: scale(1.1);
  }
}

@keyframes dup {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3ef434;
  border-radius: 55px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0dff00;
}

* {
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #0dff00;
  color: black;
}

article {
  width: 1px;
  align-self: flex-start;
  height: 4px;
  background-color: #0dff00;
  transform-origin: right left;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  z-index: 4;
  border-radius: 5px;
  animation: prog linear forwards;
  animation-timeline: scroll();
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

body {
  background: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bac {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  top: 0;
  z-index: 0;
  animation: op 1s 0.3s backwards;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

nav {
  width: 40%;
  height: 90%;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 35px;
  font-size: 26px;
  border: solid 2px #0dff00;
  transition: 1s;
}

nav:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px #0dff00;
}

nav a {
  border-radius: 25px;
  transition: 0.3s;
  padding: 8px 20px;
}

nav a:hover {
  color: black;
  background-color: #0dff00;
  border: solid 2px black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-top: 2vh;
  z-index: 1;
  animation: brdr 1s 1s backwards, op 0.5s 1s backwards;
}

aside {
  width: 100%;
  height: 10vh;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: solid 1px #0dff00;
  border-top: solid 1px #0dff00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 26px;
  transition: 1s;
}

hr {
  width: 100%;
  margin: 2vh 0px;
  height: 2px;
  background-color: #0dff00;
  border: none;
}

aside a {
  transition: 0.5s;
}

aside a:hover {
  color: #0dff00;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
}

.sec {
  display: flex;
  width: calc(100% - 2px);
  padding: 1vh 0px;
  justify-content: space-evenly;
  align-items: center;
}

audio{
  width: 40%;
  border: solid 4px black;
  border-radius: 30px;
  margin-top: 2vh;
}
audio::-webkit-media-controls-panel {
    background-color: #0dff00;
}

.sec div {
  width: 35%;
  font-size: 28px;
  color: white;
  text-align: center;
  border: solid 1px #0dff00;
  box-shadow: 0px 0px 15px #0dff00 inset, 0px 0px 25px #0dff00;
  border-radius: 25px;
  padding: 25px 40px;
}

.sec img {
  width: 25%;
  border-radius: 25px;
}

h1 {
  color: #0dff00;
}

h2 {
  margin: 2vh 0px;
  color: #0dff00;
}

iframe {
  border-radius: 25px;
}

video {
  width: 20%;
  outline: none;
  border-radius: 25px;
}

.ri {
  position: absolute;
  position: fixed;
  cursor: pointer;
  bottom: 45px;
  right: 5%;
  transition: 0.3s;
}

.button {
  background-color: #58fa4f;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 8px #dfd9d9;
  cursor: pointer;
  animation: dup backwards;
  animation-timeline: scroll();
}

.button:hover {
  background-color: #0dff00;
  color: black;
  box-shadow: 0px 0px;
  transform: translateY(8px);
}

.button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

table {
  border-collapse: collapse;
  font-size: 24px;
  margin-top: 2vh;
  width: 75%;
  border: #0dff00;
}

th,
td {
  padding: 16px;
  color: white;
  text-align: center;
  transition: 0.5s;
}

th {
  background-color: #0dff00;
  color: black;
  border: solid 2px black;
}

td:hover {
  background-color: #0dff00;
  color: black;
}

.link{
      background-color: #0dff00;
      padding: 20px 45px;
      display: flex;
      letter-spacing: 5px;
      margin-top: 10vh;
      margin-bottom: 3vh;
      padding-bottom: 22px;
      color: black;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      border-radius: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: relative;
      transition: 1s;
  }
  .link:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 20px #3ef434;
  }
  .link::after{
      position: absolute;
      padding: 3px 6px;
      padding-bottom: 10px;
      width: 100%;
      height: 100%;
      content: "";
      transform: scale(1.05);
      border: solid 2px #0dff00;
      border-radius: 50px;
      animation: sc 2s linear infinite;
      transition: 1s;
  }
  .link:hover:after{
      opacity: 0;
  }